<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>首頁 - EELAB Web Console</title>
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="icon" href="../static/img/favicon.ico">
        <script src="../static/js/include-html.js"></script>
        <script src="../static/js/side-bar.js"></script>
    </head>
    <body>
        <div id="top-bar" include-html="top-bar.html"></div>
        <div id="side-bar" include-html="side-bar.html"></div>
        <div id="content">
            <form id="form" class="row_flex">
                <div id="info">
                    <div class="info_block">
                        <p class="cfont info_title">填寫人資訊</p>
                        <div class="input_block row_flex">
                            <p class="cfont">姓名</p>
                            <input name="recorder-name" class="cfont" placeholder="請輸入你的姓名">
                        </div>
                        <div class="input_block row_flex">
                            <p class="cfont">紀錄隊伍</p>
                            <input name="recorder-team" class="cfont" placeholder="請輸入你所記錄的隊伍編號">
                        </div>
                        <div class="input_block row_flex">
                            <p class="cfont">紀錄場次</p>
                            <input name="recorder-screen" class="cfont" placeholder="請輸入你所記錄的比賽場次">
                        </div>
                    </div>
                    <div class="info_block">
                        <p class="cfont info_title">檔案上傳</p>
                        <div class="file_block">
                            <p class="cfont">影片及相片紀錄上傳</p>
                            <input type="file" name="file[]" multiple>
                        </div>
                    </div>
                    <div class="info_block">
                        <p class="cfont sec_info_title">版本資訊</p>
                        <div class="message_block row_flex">
                            <p class="cfont">目前版本</p>
                            <p class="cfont">V 1.0.1</p>
                        </div>
                        <div class="message_block row_flex">
                            <p class="cfont">前端/後端</p>
                            <p class="cfont">HTML、CSS、JS / Flask</p>
                        </div>
                        <div class="message_block row_flex">
                            <p class="cfont">後端/數據存儲</p>
                            <p class="cfont">Python / JSON</p>
                        </div>
                        <div class="message_block row_flex">
                            <p class="cfont">Github</p>
                            <a href="https://github.com/FRC-8584/FRC-2022-Dashboard" class="cfont" target="_blank">FRC-2022-Dashboard</a>
                        </div>
                    </div>
                    <div class="info_block">
                        <p class="cfont sec_info_title">開發者資訊</p>
                        <div class="dev_block row_flex">
                            <p class="cfont">FRC 8584程式組長</p>
                            <p class="cfont space">莊智皓</p>
                        </div>
                        <div class="dev_block row_flex">
                            <p class="cfont">Instagram</p>
                            <a href="https://www.instagram.com/zhi_hao_1021" class="cfont space" target="_blank">zhi_hao_1021</a>
                        </div>
                        <div class="dev_block row_flex">
                            <p class="cfont">Discord</p>
                            <p class="cfont space">ΥΕΕ#3911</a>
                        </div>
                    </div>
                </div>
                <div id="data">
                    <p class="cfont title">紀錄資訊</p>
                    <div class="row_flex data_div">
                        <div class="sec_data">
                            <p class="cfont sec_title">自動階段</p>
                            <div class="check_block row_flex">
                                <p class="cfont">滑行成功</p>
                                <input name="auto-slide" type="checkbox" class="cfont">
                            </div>
                            <div class="number_block row_flex">
                                <p class="cfont">射球次數(高)</p>
                                <input name="auto-hight" type="number" value="0" min="0" step="1" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <div class="number_block row_flex">
                                <p class="cfont">射球次數(低)</p>
                                <input name="auto-low" type="number" value="0" min="0" step="1" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <hr>
                            <p class="cfont sec_title">手動階段</p>
                            <div class="number_block row_flex">
                                <p class="cfont">射球次數(高)</p>
                                <input name="manual-high" type="number" value="0" min="0" step="1" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <div class="number_block row_flex">
                                <p class="cfont">射球次數(低)</p>
                                <input name="manual-low" type="number" value="0" min="0" step="1" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <div class="select_block row_flex">
                                <p class="cfont">吊掛階級</p>
                                <select name="manual-hang">
                                    <option value="0" class="cfont">無吊掛/吊掛失敗</option>
                                    <option value="1" class="cfont">第一階</option>
                                    <option value="2" class="cfont">第二階</option>
                                    <option value="3" class="cfont">第三階</option>
                                    <option value="4" class="cfont">第四階</option>
                                </select>
                            </div>
                            <hr>
                            <p class="cfont sec_title">懲罰紀錄</p>
                            <div class="number_block row_flex">
                                <p class="cfont">犯規</p>
                                <input name="foul" type="number" value="0" min="0" step="1" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <div class="number_block row_flex">
                                <p class="cfont">技術犯規</p>
                                <input name="tech-foul" type="number" value="0" min="0" step="1" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <div class="number_block row_flex">
                                <p class="cfont">黃牌</p>
                                <input name="yellow-card" type="number" value="0" min="0" step="1" max="2" class="cfont">
                                <p class="cfont">次</p>
                            </div>
                            <div class="check_block row_flex">
                                <p class="cfont">紅牌</p>
                                <input name="red-card" type="checkbox" class="cfont">
                            </div>
                        </div>
                        <hr>
                        <div class="sec_data">
                            <p class="cfont sec_title">比賽狀況</p>
                            <div class="textarea_block">
                                <p class="cfont">優點</p>
                                <textarea name="good" class="cfont" placeholder="請輸入該隊的優點" rows="5"></textarea>
                            </div>
                            <div class="textarea_block">
                                <p class="cfont">缺點</p>
                                <textarea name="bad" class="cfont" placeholder="請輸入該隊的缺點" rows="5"></textarea>
                            </div>
                            <div class="textarea_block">
                                <p class="cfont">性質</p>
                                <textarea name="spec" class="cfont" placeholder="請輸入該隊的性質(如進攻/防守...)" rows="5"></textarea>
                            </div>
                            <hr>
                            <div class="button_block row_flex">
                                <input type="reset" class="cfont" value="重設表單">
                                <button class="cfont">送出表單</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <script>includeHTML()</script>
</html>